.container {
    width: 1140px;
    margin: 0 auto;
}

.none {
    display: none;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $color-green;
    margin: 25px auto 0 auto;
}

.js-validate-error-label {
    position: relative;
    text-align: center;
    top: 5px;
}

// ! кнопка вверх

.back_to_top {
    position: fixed;
    bottom: 93px;
    font-size: 18px;
    color: green;
    right: 50px;
    z-index: 9999;
    display: none;
    cursor: pointer;
    &:hover {
        color: red;
    }
}

.up {
    position: fixed;
    width: 45px;
    height: 45px;
    border: 5px solid $color-green;
    border-left-color: $color-white;
    border-right-color: $color-white;
    border-radius: 50%;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: rotor 1.3s linear infinite;
    display: none;
}

.back_to_top-show {
    display: block;
}

// ! LOADER

.mask {
    width: 100%;
    height: 100%;
    background: rgba(56, 65, 57, 0.842);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cog1 {
    width: 100px;
    height: 100px;
    background: url(../img/cog_agbope.png) center/cover;
    position: absolute;
    left: 49.5%;
    top: 46.5%;
    animation: cog 6s linear infinite;
}

.cog2 {
    width: 80px;
    height: 80px;
    background: url(../img/cog_agbope.png) center/cover;
    position: absolute;
    right: 50%;
    top: 50%;
    animation: cog 6s linear infinite reverse;
}

.hide {
    opacity: 0;
}
