.certificate {
    padding-top: 50px;
    &__title {
        text-align: center;
        font-size: 30px;
    }
    &__items {
        padding-top: 50px;
        display: grid; 
        grid-template: repeat(2, minmax(300px, auto)) / repeat(auto-fit, 550px);
        grid-auto-rows: minmax(570px, auto);
        // grid-template-rows: minmax(570px, auto);
        justify-content: center;
        gap: 13px;
    }

    &__item {
        border: 1px solid $color-black;
        padding: 30px 30px 25px 30px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .certificate {
        padding-top: 20px;
        &__items {
            grid-template: repeat(5, minmax(300px, auto)) / repeat(auto-fit, 350px);

        }
    }
}

@media (max-width: 320px) {
    .certificate {
        &__items {
            grid-template: repeat(5, minmax(300px, auto)) / repeat(auto-fit, 300px);

        }
    }
}