@media (max-width: 1200px) {
    .about {
        &__wrapper {
            grid-template-columns: 400px 535px;
            column-gap: 30px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            column-gap: 35px;
        }
        &__skill {
            grid-template-columns: 45px 198px;
            column-gap: 10px;
        }
    }
}
@media (max-width: 992px) {
    .about {
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
        }
        &__skill {
            grid-template-columns: 45px 344px;
            column-gap: 10px;
        }
    }
}
@media (max-width: 768px) {
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 520px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            column-gap: 29px;
        }
        &__skill {
            grid-template-columns: 45px 194px;
            column-gap: 15px;
        }
    }
}
@media (max-width: 576px) { 
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
  
        &__skills {
            grid-template-columns: 1fr;
        }

        &__skill {
            grid-template-columns: 45px 250px;
        }
        .title {
            &_fz36 {
                font-size: 30px;
            }
        }
    }

}


