@media (max-width: 768px) {
    .arrow-up {
        display: none;
    }
}
@media (max-width: 576px) {
    .arrow-down {
        left: 45%;
    }
    .arrow-up {
        right: 10px;
    }
}
@media (max-width: 320px) {
    .arrow-down {
        left: 42%;
    }

}
