@media (max-width: 768px) {
      .menu {
        &__block {
            padding-top: 68px;
            padding-left: 12px;

        }
        &__social {
            bottom: 120px;
        }
    }

}
@media (max-width: 320px) {
    .menu {
        &__close {
            right: 40px;
        }

        &__social {
            bottom: 100px;
        }
    }
 
}
