@media (max-width: 992px) {
    .price {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 330px);
        }
    }

}
@media (max-width: 768px) {
    .price {
        padding-top: 30px;
        &__wrapper {
            justify-content: center;
        }
    }
}
@media (max-width: 576px) {
    .price {
        &__wrapper {
            grid-template: repeat(2,minmax(45px,auto))/repeat(auto-fit,300px);
        }
    }
}
