@media (max-width: 768px) {
    .promo {
        &__title {
            width: 400px;
            line-height: 47px;
        }
    }
}
@media (max-width: 576px) {
    .promo {
        &__title {
            width: 355px;
            line-height: 47px;
        }
    }
}
@media (max-width: 377px) {
    .promo {
        &__title {
            width: 300px;
            line-height: 47px;
        }
    }
}
@media (max-width: 320px) {
    .promo {
        &__subtitle {
            top: -49px;
        }
        &__title {
            top: -40px;
            position: relative;
        }
        &__btns {
            margin: 0;
        }
    }
}
